<footer>
   <div class="footer">
    <div>
        <p> All Copyrights&#169; are reserved. </p>
    </div>
    <div class="social-icon">
       <a href="https://www.facebook.com/profile.php?id=100044372809184"><i class="fa-brands fa-facebook"></i></a>
       <a href="https://www.linkedin.com/in/amit-kumar-7810431b5"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="developername">
      <p>This website is created by Amit Kumar.</p>
    </div>
   </div> 
</footer>