
<%- include('../../header.ejs') %>

<section class="dashboard-wrap mtb-40" style="padding:40px; height: 82vh;">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/admin/blogdisplay">Blogs</a></li>
                            <li><a href="/admin/categorydisplay">Categories</a></li>
                            <li><a href="/admin/contactdisplay">Contact</a></li>
                            <li><a href="/admin/aboutdisplay" class="active">About</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1>Blogs</h1>
                            </div>
                            <div class="dash-nav">
                                <a href="/admin/createblog" class="btn btn-success">Add Post</a>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>#ID</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Posted On</th>
                                <th>Action</th>
                            </tr>
                            
                            
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../../footer.ejs') %>
